.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  border-bottom: 1px solid #f04f23;
}

#Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 7%;
}

body {
  background: #272727;
}

a#landinglink {
  font-size: 2em;
  float: left;
  margin-top: 5%;
  margin-left: 20%;
  color: #1db4db;
}

a#librarylink {
  font-size: 2em;
  float: right;
  margin-top: 5%;
  margin-right: 20%;
  color: #1db4db;
}